<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkq.Mapper.BlogMapper">
    <sql id="query_blog">
        <if test="keyword!=null and keyword!=''">
            AND LOWER (title) LIKE "%${keyword}%"
        </if>
    </sql>
    <!--分页查询所有博客-->
    <select id="getBlogByPage" parameterType="Page" resultType="Blog">
        select * from blog limit
        <if test="start!=null ">
            #{start}
        </if>
        <if test="pageNumber!=null">
            ,#{pageNumber}
        </if>
    </select>
    <!--分页查询博客总数-->
    <select id="getBlogTotalRows" parameterType="Page" resultType="int">
        SELECT  COUNT(*) FROM blog
    </select>
    <!--关键字查询所有博客-->
    <select id="getBlogWithKeyWord" parameterType="Page" resultType="Blog">
        SELECT  * FROM blog
        <where>
            <include refid="query_blog"></include>
        </where>
        limit
        <if test="start!=null ">
            #{start}
        </if>
        <if test="pageNumber!=null">
            ,#{pageNumber}
        </if>
    </select>
    <!--关键字查询博客总数-->
    <select id="getBlogTotalWithKeyWord" parameterType="Page" resultType="int">
        SELECT  COUNT(1) FROM blog
        <where>
            <include refid="query_blog"></include>
        </where>
    </select>
    <!--删除博客-->
    <delete id="deleteBlog" parameterType="blogCustom">
        DELETE from blog WHERE
        <if test="id!=null">
             id=#{id}
        </if>
    </delete>
</mapper>