<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkq.Mapper.BlogMapper">
    <sql id="queryByBlog">
        <if test="id!=null">
            id=#{id}
        </if>
    </sql>
    <sql id="queryByPage">
        <if test="keyword!=null">
            AND LOWER (title) LIKE "%${keyword}%"
        </if>
        <if test="start!=null and pageNumber!=0">
         limit #{start}
        </if>
        <if test="pageNumber!=null and pageNumber!=0">
            ,#{pageNumber}
        </if>
    </sql>
    <!--分页查询所有博客-->
    <select id="getBlogByPage" parameterType="Page" resultType="Blog">
        select * from blog
        <include refid="queryByPage"></include>
    </select>
    <!--分页查询博客总数-->
    <select id="getBlogTotalRows" parameterType="Page" resultType="int">
        SELECT  COUNT(*) FROM blog
    </select>
    <!--关键字查询所有博客-->
    <select id="getBlogWithKeyWord" parameterType="Page" resultType="Blog">
        SELECT  * FROM blog
        <where>
            <include refid="queryByPage"></include>
        </where>
    </select>
    <!--关键字查询博客总数-->
    <select id="getBlogTotalWithKeyWord" parameterType="Page" resultType="int">
        SELECT  COUNT(1) FROM blog
        <where>
            <include refid="queryByPage"></include>
        </where>
    </select>
    <!--删除博客-->
    <delete id="deleteBlog" parameterType="blogCustom">
        DELETE from blog 
        <where>
            <include refid="queryByBlog"></include>
        </where>
    </delete>
    <!--新增博客-->
    <insert id="insertBlog" parameterType="blogCustom">
        insert into blog(title,article,data,zan,label) VALUES (#{title},#{article},#{data},0,#{label})
    </insert>
    <!--根据id查找博客-->
    <select id="getBlogById" parameterType="blogCustom" resultType="BlogCustom">
        SELECT title,article,label from blog
        <where>
          <include refid="queryByBlog"></include>
        </where>
    </select>
</mapper>